{{ define "main" }}

<main>
    <div class="block introduction">
        <div class="column left">
            <img src="images/portrait.jpg" class="portrait" alt="Portrait" />
        </div>
        <div class="column right">
           
                <h2>Manuel Socías</h2>
     
                <h4>Frente de Todos</h4>
   
          
            <p>{{- partial "introduction.html" . -}}</p>

            <div class="links">
                {{- range .Site.Params.links -}}
                    <a rel="me" href="{{ .url }}" title="{{ .title }}">
                        <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                    </a>
                {{- end -}}
            </div>
        </div>
    </div>

    {{- if (fileExists "layouts/partials/content.html") -}}
        <div class="block">
            <div class="column left"></div>
            <div class="column right">
                {{- partial "content.html" . -}}
            </div>
        </div>
    {{- end -}}
</main>

{{ end }}
