
<p>Egresado del Colegio Nacional de Buenos Aires, estudió Historia en la UBA y se graduó con medalla de Oro de Licenciado en Ciencia Política en la Universidad Torcuato Di Tella.</p>

<p>Está casado con Geraldine Oniszczuk con quien tiene dos hijas: Juana y Justina. </p>

<p>Fue asesor de Vocería Presidencial, Director de Prensa y Comunicación en la Secretaría de Cultura de la Nación, Director de Comunicación Institucional en la Autoridad Federal de Servicios de Comunicación Audiovisual (AFSCA), trabajó en la Gerencia de Asuntos Públicos de YPF y fue Jefe de despacho de Carlos Tomada en la Legislatura de la Ciudad de Buenos Aires.</p>

<p>Fue Presidente de la Asociación Civil Generación Política Sur (GPS) y miembro del área Democracia y Territorio del Centro de Estudios Perspectiva Sur (CEPS - GPS).</p>

<p>En la última campaña para Jefe de Gobierno de la Ciudad fue el jefe de camapaña de Matías Lammens, candidato del Frente de Todos.</p>

<p>Fue electo Legislador Porteño por el Frente de Todos en 2019.</p>